$media-wp-block-pullquote-desktop: 510px !default;

.wp-block-pullquote {
  @include font-size-rem(18px);
  padding: 3rem;

  blockquote {
    margin: 0;
  }

  cite {
    display: block;
    margin-top: 0.3em;
    padding-right: 1em;
    text-align: right;
    text-indent: 0;
    font-style: normal;
    font-size: 16px;

    &::before {
      content: '\2013 '; // &ndash;
      // content: '\2014 '; // &mdash;
      display: inline-block;
      margin-right: 0.2em;
    }
  }

  p {
    font-size: inherit !important;
    line-height: inherit;
  }

  &.is-style-solid-color {

    blockquote {
      max-width: none;
    }

    p {
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }

  &.alignright,
  &.alignleft {
    max-width: calc((100% - 32px) / 2);
    margin-top: 0;
  }
}
