$body-font-family: 'Source Sans Pro', sans-serif;
$body-font-size: 1rem;
$body-line-height: 1.4em;
$body-font-weight: 400 !default;

$heading-font-family: 'Playfair Display', serif;
$heading-font-weight: 400 !default;
$heading-extra-bold: 900 !default;

$accent-font-weight: 600 !default;
$light-font-weight: 300, !default;

html,
body {
	color: rgba(39, 59, 73, 100);
	font-family: $body-font-family;
	line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	color: rgba(39, 59, 73, 100);
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: 1.4;
}