.footer {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 9% 25px 9%;
    color: rgba(39, 59, 73, 100);
    
    a {
        color: inherit;
        text-decoration: none;
    }

    .footer__top {
        
        @media (min-width: 900px) {
            display: flex;
        }
        
        .footer__logo-copy,
        .footer__menu,
        .footer__company-information,
        .footer__blog {
            
            
            @media (min-width: 900px) {
                width: 25%;
            }
        }
        
        .footer__logo-copy {
            margin-right: 1em;
        }
        
        .footer__heading {
            margin: 0;
            margin-bottom: 1em;
            font-family: $heading-font-family;
            font-size: 16px;
            text-transform: uppercase;
        }
        
        .footer__nav-list {
            list-style-type: none;
            margin-top: 0;
            padding-left: 0;
            
            @media (min-width: 1024px) {
                padding-left: 14%;
            }
            
            .menu-item {
                padding: 0.25em 0 0.25em 0;
                color: $brand-red;
                font-family: $heading-font-family;
                font-size: 16px;
                text-transform: uppercase;
                
                @media (min-width: 900px) {
                    padding: 0.25em 0 0.5em 40px;
                }
                
                &:first-child {
                    padding-top: 0;
                }
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .footer__company-information {
            font-size: 14px;
            line-height: 23px;
            max-width: 70%;
            
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            
            .footer__address {
                max-width: 75%;
                margin-bottom: 0.5em;
                
                @media (min-width: 900px) {
                    max-width: 45%;
                }
            }
            
            .footer__telephone,
            .footer__email {
                display: block;
            }
            
            .footer__telephone {
                margin-bottom: 0.5em;
            }
            
            .footer__email {
                color: $brand-red;
                font-weight: 400;
            }
            
            .footer__social-media {
                display: flex;
                margin-top: 20px;
                margin-bottom: 40px;
                
                @media (min-width: 900px) {
                    margin-top: 30px;
                    margin-bottom: 0;
                }
                
                .social-media__icon--instagram,
                .social-media__icon--pinterest,
                .social-media__icon--facebook,
                .social-media__icon--linkedin {
                    display: block;
                    box-sizing: border-box;
                    overflow: hidden;
                    width: 35px;
                    height: 35px;
                    padding-left: 35px;
                    padding-bottom: 40px;
                    margin-right: 7px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-bottom: 2px solid transparent;
                    
                    &:hover {
                        border-bottom: 2px solid $brand-red;
                    }
                }
                
                .social-media__icon--instagram {
                    margin-left: -5px;
                    background-image: url("../images/social_instagram.svg");
                }
                
                .social-media__icon--pinterest {
                    background-image: url("../images/social_pinterest.svg");
                }
                
                .social-media__icon--facebook {
                    background-image: url("../images/social_facebook.svg");
                }
                
                .social-media__icon--linkedin {
                    background-image: url("../images/social_linkedin.svg");
                }
            }
        }
        
        .footer__blog {
            
            .blog__title {
                color: $brand-red;
                font-family: $body-font-family;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                margin-top: 1em;
            }
            
            .blog__excerpt {
                
                p {
                    margin: 0;
                }
            }
        }
    }
    
    .footer__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        
        .footer-utility__nav-list {
            display: flex;
            padding: 0 1em;
            padding-left: 0;
            list-style-type: none;
            
            .menu-item {
                padding: 0 1em;
                
                &:first-child {
                    padding-left: 0;
                }
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
