.instagram-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 25px;
    
    @media (min-width: 758px) {
        padding: 0;
    }
}

.instagram-grid img {
    max-width: 100%;
    height: auto;
}

.grid-box + .grid-box {
    margin-top: 20px;
}

@media (min-width: 1059px) {
    .grid-box {
        width: calc(100% / 5);
    }

    .grid-box + .grid-box {
        margin-top: 0;
    }
}

.instagram-grid__callout {
    max-width: 576px;
    background-color: #6FC4BE;
    display: flex;
    align-items: center;
}

@media (min-width: 1059px) {
    .instagram-grid__callout {
        width: calc((100% / 5) * 2);
    }
}

.instagram-grid__callout-inner {
    padding: 15px;
}

.callout__heading {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    
    &::after {
        content: '';
        display: block;
        margin: 10px auto 0;
        width: 62px;
        height: 10px;
        background-image: url('../images/triangle-separator.svg');
    }
}

@media (min-width: 768px) {
    .callout__heading {
        font-size: 32px;
    }
}

@media (min-width: 1250px) {
    .callout__heading {
        font-size: 36px;
    }
}

.callout__separator {
    width: 55px;
    height: 10px;
}

.callout__copy {
    margin-top: 12px;
    font-size: 18px;
    padding: 0 75px;
    
    p {
        margin: 0;
    }
    
    a {
        
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: 1250px) {
    .callout__copy {
        font-size: 24px;
        line-height: 1.2;
    }
}

.grid-box--icon {
    display: none;
    background-color: #EA5550;
    font-size: 120px;
    flex-grow: 1;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.grid-box--icon:hover {
    background-color: #C72F4C;
}

@media (min-width: 1059px) {
    .grid-box--icon {
        display: flex;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
    }
}

.grid-box--empty {
    background-color: #DAE510;
}