.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;
    
    @media (min-width: 768px) {
        padding: 0 50px;
    }
    
    @media (min-width: 1000px) {
        padding: 0 135px;
    }
}

.recipe-single {
    margin-top: 40px;
    border: solid 2px #EEE;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .recipe-single {
        width: calc((100% - 40px) / 2);
    }
}

@media (min-width: 1200px) {
    .recipe-single {
        width: calc((100% - 60px) / 3);
    }
}

.recipe__copy {
    font-size: 16px;
    padding: 0 40px;
    margin-bottom: 2em;
}

.recipe__title {
    font-family: $heading-font-family;
    font-size: 20px;
    font-weight: $heading-extra-bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.recipe__description {
    max-width: 75%;
}

.spice-level {
    background-image: url(../images/chili-empty.svg);
    width: (9px * 5);
    height: 18px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    
    &::before {
        content: '';
        position: absolute;
        display: block;
        background-image: url(../images/chili-fill.svg);
        height: 18px;
    }
    
    @at-root .spice-level--1::before { width: (9px * 1); }
    @at-root .spice-level--2::before { width: (9px * 2); }
    @at-root .spice-level--3::before { width: (9px * 3); }
    @at-root .spice-level--4::before { width: (9px * 4); }
    @at-root .spice-level--5::before { width: (9px * 5); }
}

.recipe__image {
    margin-top: auto;
}

.recipe__social-media {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-bottom: 18px;
    padding-right: 1em;
}

.recipe__likes,
.recipe__comments {
    display: flex;
    font-weight: 600;
}

.recipe__likes {
    margin-right: 25px;
    
    .recipe__likes__link {
        display: inline-block;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            width: 27px;
            height: 30px;
            left: -32px;
            background-image: url('../images/heart-red-icon.svg');
            background-repeat: no-repeat;
        }
        
        &:hover {
            border-bottom: 2px solid $brand-red;
        }
    }

}

.recipe__comments {
    margin-left: 20px;
    
    .recipe__comments__link {
        display: inline-block;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            width: 27px;
            height: 30px;
            left: -32px;
            background-image: url('../images/comment-green-icon.svg');
            background-repeat: no-repeat;
        }
        
        &:hover {
            border-bottom: 2px solid $brand-red;
        }
    }
}

.recipe__load-more {
    margin: 40px auto 100px;
    
    .button {
        margin: 0 auto;
    }
}