.recipe-search-filters {
    margin-top: -30px;
    margin-bottom: 45px;
    padding: 0 10px;
    
    @media (min-width: 375px) {
        padding: 0 25px;
    }
}

.recipe-search {
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    max-width: 572px;
    width: 100%;
    margin: 0 auto;
}

.recipe-search__keyword {
    display: flex;
    flex-grow: 1;
    position: relative;
    
    .recipe-search__label {
        display: block;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 23px;
        height: 22px;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 100%;
        background-image: url('../images/search-icon-red.svg');
        
        @media (min-width: 375px) {
            left: 20px;
        }
    }
}

.recipe-search__input {
    flex-grow: 1;
    height: 60px;
    padding-left: (10px + 23px + 8px);
    border: 1px solid #dddddd;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    
    @include input-placeholder {
        font-weight: 400;
    }
    
    @media (min-width: 375px) {
        padding-left: (20px + 23px + 18px);
    }
}

.recipe-search__submit {
    display: none;
}

.filters {
    width: 150px;
    position: relative;
}

.filters__button {}

.filters__button-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    color: $brand-red;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    font-weight: 600;
    font-family: $body-font-family;
    
    @media (min-width: 375px) {
        padding: 20px;
    }
    
    &::after {
        content: '';
        display: block;
        background-image: url('../images/filters.svg');
        width: 20px;
        height: 22px;
        margin-left: 8px;
    }
}

.filters__list {
    display: none;
    position: absolute;
    min-width: 100%;
    padding-left: 0;
    margin-top: 0;
    z-index: 10;
    list-style: none;
    color: white;
    background-color: $brand-red;
    
    .filters:hover > & {
        display: block;
    }
}

.filters__link {
    display: block;
    padding: 12px 28px;
    
    &:hover {
        background-color: $brand-dark-red;
    }
}
